$color-1: #ffffff;
$color-2: #222222;
$color-3: #4a4a4a;

.color-1 {
	color: $color-1;
}

.bg-1 {
	background: $color-1;
}

.color-2 {
	color: $color-2;
}

.bg-2 {
	background: $color-2;
}

.color-3 {
	color: $color-3;
}

.bg-3 {
	background: $color-3;
}
