@import '../../styles/main.scss';

@media (max-width: 500px) {
	.slider-container {
		width: $app-width;

		.slider {
			width: $app-width;
			align-self: flex-start;
			overflow-x: scroll;
			padding-bottom: 3rem;
		}
	}
}
